.jumbotron {
    background-image: url('background.jpg');
    background-size: cover;
    background-position:center center;
    color: white;
    min-height: 200px;
}

.locale-flag {
    width: 24px;
}